<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
<%
  var tp = '/themes/wotlk';
%>
<link rel="shortcut icon" href="<%= tp %>/images/favicon.ico"/>
<title>MaNGOSWebV5 &raquo; Installation Wizard</title>
<style media="screen" title="currentStyle" type="text/css">
    @import url("<%= tp %>/css/newhp.css");
    @import url("<%= tp %>/css/newhp_basic.css");
    @import url("<%= tp %>/css/newhp_icons.css");
    @import url("<%= tp %>/css/newhp_layout.css");
    @import url("<%= tp %>/css/newhp_specific.css");
    @import url("<%= tp %>/css/additional_optimisation.css");
</style>
<link rel="stylesheet" href="/css/v5-override.css"/>
<script type="text/javascript"><!--
    var SITE_HREF = '/';
    var DOMAIN_PATH = '/';
    var SITE_PATH = '/';
--></script>
<script src="<%= tp %>/js/detection.js" type="text/javascript"></script>
<script src="<%= tp %>/js/functions.js" type="text/javascript"></script>
</head>
<body>
<!-- Top Navbar Start -->
<style>@import "<%= tp %>/css/topnav.css";</style>
<div id="shared_topnav" class="tn_wow">
  <div class="topnav">
    <div class="tn_interior">
      <span style="color:#8b949e;">MaNGOSWebV5 Installation Wizard</span>
    </div>
  </div>
  <div class="tn_push"></div>
</div>

    <div style="background: url(<%= tp %>/images/page-bg-top.jpg) repeat-x 0 0; height: 88px; position: relative; width: 100%; "></div>
    <center>
      <table align="center" border="0" cellpadding="0" cellspacing="0">
        <tr>
          <td>
            <div id="hp">
              <div class="top-nav-container">
                <!-- Logo -->
                <div style="position: absolute; top: 0; left: 0; z-index: 20002;">
                  <div id="wow-logo">
                    <img title="MaNGOSWebV5" alt="wowlogo" height="103" width="252" src="<%= tp %>/images/pixel000.gif"/>
                  </div>
                </div>
              </div>
              <div>
                <div id="hpwrapper">
                  <table width="100%" border="0" cellpadding="0" cellspacing="0">
                    <tr>
                      <td valign="top">
                        <div id="mainwrapper" style="margin-left: 0;">
                        <div id="main">
                            <div id="main-content-wrapper">
                              <div id="main-content">
                                <table cellspacing="0" cellpadding="0" border="0">
                                  <tr>
                                    <td>
                                      <div id="main-top">
                                        <div>
                                          <div><div></div></div>
                                        </div>
                                      </div>
                                    </td>
                                  </tr>
                                  <tr>
                                    <td>
                                      <div id="contentpadding">
                                        <div id="cnt">
                                          <div id="cnt-wrapper">
                                            <div id="contentcontainer">
                                              <table cellspacing="0" cellpadding="0" border="0" width="99%">
                                                <tr>
                                                  <td valign="top">
                                                    <div id="cntmain">
                                                      <div id="cnt-top">
                                                        <div>
                                                          <div></div>
                                                        </div>
                                                      </div>
                                                      <div id="content">
                                                        <div id="content-left">
                                                          <div id="content-right">
                                                            <div style="padding-right:-15px; margin:-15px;" id="compcont">
                                                            <div style="clear:both;display:block;position:relative;width:100%;margin-top:-4px;">
                                                            <!-- Pathway -->
                                                            <div class="redbannerbg"><div class="redbannerleft"></div><div class="redbannerlabel">Installation Wizard</div><div class="redbannerright"></div></div>
                                                            <!-- Component body BEGIN -->
                                                            <br>
                                                            <%- body %>
                                                            <!-- Component body END -->
                                                            </div>
                                                            </div>
                                                          </div>
                                                        </div>
                                                      </div>
                                                      <div id="cnt-bot">
                                                        <div>
                                                          <div>&nbsp;</div>
                                                        </div>
                                                      </div>
                                                    </div>
                                                  </td>
                                                </tr>
                                              </table>
                                            </div>
                                          </div>
                                        </div>
                                        <div style="clear: both; font-size: 1px;">&nbsp;</div>
                                        <center>
                                          <div id="copyright">
                                            <div id="blizzlogo-bot">
                                              <img alt="Blizzard.com" border="0" src="<%= tp %>/images/bot-blizzlogo.gif"
                                                   onerror="this.style.display='none';"/>
                                            </div>
                                            <span class="textlinks">
                                            <small>
                                              &copy; <%= new Date().getFullYear() %>
                                              <b>MaNGOSWebV5</b> |
                                              Powered by MaNGOSWebV5 | AzerothCore 3.3.5a
                                            </small></span><br/><br/><br/>
                                          </div>
                                        </center>
                                      </div>
                                    </td>
                                  </tr>
                                  <tr>
                                    <td>
                                      <div id="main-bottom">
                                        <div>
                                          <div>
                                          </div>
                                        </div>
                                      </div>
                                    </td>
                                  </tr>
                                </table>
                              </div>
                            </div>
                            <div style="position: relative; z-index: 10;">
                              <img style="position: absolute; top: -445px; left: -243px;" alt="statue" src="<%= tp %>/images/statue.png"
                                   onerror="this.style.display='none';"/></div>
                          </div>
                        </div>
                      </td>
                    </tr>
                  </table>
                </div>
              </div>
            </div>
          </td>
        </tr>
      </table>
    </center>
    <div id="ironframe" style="z-index: 11;"></div>
    <div id="pageend"></div>
    <%- typeof script !== 'undefined' ? script : '' %>
</body>
</html>
