<%
  var tp = typeof themePath !== 'undefined' ? themePath : '/themes/wotlk';
  var _currentPhase = typeof currentPhase !== 'undefined' ? currentPhase : 0;
  var _phaseMap = typeof phaseMap !== 'undefined' ? phaseMap : {};

  var now = new Date();

  function timeLabel(dateStr, isFuture) {
    if (!dateStr) return '';
    var d = new Date(dateStr + 'T00:00:00');
    if (isNaN(d.getTime())) return dateStr;
    var diff = d.getTime() - now.getTime();
    var days = Math.floor(Math.abs(diff) / 86400000);
    if (days === 0) return 'Today';
    if (isFuture) {
      if (days === 1) return 'Tomorrow';
      if (days < 7) return 'In ' + days + ' days';
      var weeks = Math.floor(days / 7);
      if (weeks < 5) return 'In ' + weeks + ' week' + (weeks > 1 ? 's' : '');
      var months = Math.floor(days / 30);
      if (months < 12) return 'In ' + months + ' month' + (months > 1 ? 's' : '');
      return 'In ' + Math.floor(days / 365) + ' year' + (Math.floor(days/365) > 1 ? 's' : '');
    } else {
      if (days === 1) return 'Yesterday';
      if (days < 7) return days + ' days ago';
      var weeks = Math.floor(days / 7);
      if (weeks < 5) return weeks + ' week' + (weeks > 1 ? 's' : '') + ' ago';
      var months = Math.floor(days / 30);
      if (months < 12) return months + ' month' + (months > 1 ? 's' : '') + ' ago';
      return Math.floor(days / 365) + ' year' + (Math.floor(days/365) > 1 ? 's' : '') + ' ago';
    }
  }

  var expansions = [
    { name: 'Classic', phases: [
      { id: 0,  num: 1, title: 'Launch',
        raids: ["Molten Core", "Onyxia's Lair"],
        dungeons: ['Maraudon'],
        pvp: ['Alterac Valley', 'Warsong Gulch'] },
      { id: 1,  num: 2, title: 'Dire Maul',
        raids: [],
        dungeons: ['Dire Maul'],
        world: ['Azuregos', 'Lord Kazzak'],
        pvp: ['Honor System', 'PvP Ranks'] },
      { id: 2,  num: 3, title: 'Blackwing Lair',
        raids: ['Blackwing Lair'],
        world: ['Darkmoon Faire'],
        pvp: ['Arathi Basin'] },
      { id: 3,  num: 4, title: 'Rise of the Blood God',
        raids: ["Zul'Gurub"],
        world: ['Dragons of Nightmare'],
        other: ['Fishing Extravaganza'] },
      { id: 4,  num: 5, title: "The Gates of Ahn'Qiraj",
        raids: ["Temple of Ahn'Qiraj", "Ruins of Ahn'Qiraj"],
        world: ["Ahn'Qiraj War Effort"],
        other: ['Tier 0.5 Dungeon Set Upgrade'] },
      { id: 5,  num: 6, title: 'Shadow of the Necropolis',
        raids: ['Naxxramas'],
        world: ['Scourge Invasion Event'] }
    ]},
    { name: 'The Burning Crusade', phases: [
      { id: 6,  num: 1, title: 'Through the Dark Portal',
        raids: ["Karazhan", "Gruul's Lair", "Magtheridon's Lair"],
        dungeons: ['All 5-man Dungeons (Normal & Heroic)'],
        pvp: ['Arena Season 1'] },
      { id: 7,  num: 2, title: 'Lords of Outland',
        raids: ['Serpentshrine Cavern', "The Eye"],
        world: ["Ogri'la", 'Sha\'tari Skyguard'],
        pvp: ['Arena Season 2'] },
      { id: 8,  num: 3, title: 'The Battle for Mount Hyjal',
        raids: ['Hyjal Summit', 'Black Temple'],
        pvp: ['Arena Season 3'] },
      { id: 9,  num: 4, title: "The Gods of Zul'Aman",
        raids: ["Zul'Aman"] },
      { id: 10, num: 5, title: 'The Sunwell',
        raids: ['Sunwell Plateau'],
        world: ["Isle of Quel'Danas"],
        pvp: ['Arena Season 4'] }
    ]},
    { name: 'Wrath of the Lich King', phases: [
      { id: 11, num: 1, title: 'Launch',
        raids: ['Naxxramas', 'The Eye of Eternity', 'The Obsidian Sanctum', 'Vault of Archavon'],
        dungeons: ['All 5-man Dungeons (Normal & Heroic)'],
        pvp: ['Strand of the Ancients', 'Arena Season 5'] },
      { id: 12, num: 2, title: 'Secrets of Ulduar',
        raids: ['Ulduar'],
        pvp: ['Isle of Conquest', 'Arena Season 6'] },
      { id: 13, num: 3, title: 'Call of the Crusade',
        raids: ['Trial of the Crusader', "Onyxia's Lair (Revamp)"],
        pvp: ['Arena Season 7'] },
      { id: 14, num: 4, title: 'Fall of the Lich King',
        raids: ['Icecrown Citadel'],
        dungeons: ['Forge of Souls', 'Pit of Saron', 'Halls of Reflection'],
        pvp: ['Arena Season 8'] },
      { id: 15, num: 5, title: 'Assault on the Ruby Sanctum',
        raids: ['Ruby Sanctum'] }
    ]}
  ];
%>
<style type="text/css">
  td.tlRow1 { font-size: 0.85em; border-style: solid; border-width: 0px 1px 1px 0px; border-color: #D8BF95; padding: 5px 8px; }
  td.tlRow2 { font-size: 0.85em; border-style: solid; border-width: 0px 1px 1px 0px; border-color: #D8BF95; background-color: #C3AD89; padding: 5px 8px; }
  td.tlRowLive { font-size: 0.85em; border-style: solid; border-width: 0px 1px 1px 0px; border-color: #D8BF95; background-color: #c5e6a8; padding: 5px 8px; }
  td.tlRowFuture { font-size: 0.85em; border-style: solid; border-width: 0px 1px 1px 0px; border-color: #D8BF95; padding: 5px 8px; opacity: 0.75; }
  td.tlRowFuture2 { font-size: 0.85em; border-style: solid; border-width: 0px 1px 1px 0px; border-color: #D8BF95; background-color: #C3AD89; padding: 5px 8px; opacity: 0.75; }
  td.rankingHeader { color: #C7C7C7; font-size: 10pt; font-family: arial,helvetica,sans-serif; font-weight: bold; background-color: #2E2D2B; border-style: solid; border-width: 1px; border-color: #5D5D5D #5D5D5D #1E1D1C #1E1D1C; padding: 3px;}
</style>

<div style="padding:10px 20px 10px 20px;">
  This timeline shows the progression of content phases for our server.
  Phases marked <b style="color: rgb(35, 67, 3);">LIVE</b> are currently active.
  Future phases with announced dates show a countdown to release.
</div>
<br/>

<% expansions.forEach(function(exp, expIdx) { %>

<%- include('../../partials/subheader', { subheader: exp.name }) %>

<%- include('../../partials/metalborder_header') %>
<table cellpadding="3" cellspacing="0" width="100%">
<tbody>
  <tr>
    <td class="rankingHeader" align="center" nowrap="nowrap" width="60">Phase</td>
    <td class="rankingHeader" nowrap="nowrap">&nbsp;Content</td>
    <td class="rankingHeader" align="center" nowrap="nowrap" width="90">Status</td>
    <td class="rankingHeader" align="center" nowrap="nowrap" width="120">Date</td>
  </tr>
  <tr>
    <td colspan="4" style="background: url('<%= tp %>/images/shadow.gif');">
      <img src="<%= tp %>/images/pixel.gif" height="1" width="1" alt=""/>
    </td>
  </tr>
  <% exp.phases.forEach(function(ph, idx) {
    var isLive = ph.id === _currentPhase;
    var isPast = ph.id < _currentPhase;
    var isFuture = ph.id > _currentPhase;
    var releaseDate = _phaseMap[ph.id] || '';
    var relLabel = timeLabel(releaseDate, isFuture);
    var rowClass;
    if (isLive) {
      rowClass = 'tlRowLive';
    } else if (isFuture) {
      rowClass = (idx % 2 === 0) ? 'tlRowFuture' : 'tlRowFuture2';
    } else {
      rowClass = (idx % 2 === 0) ? 'tlRow1' : 'tlRow2';
    }
  %>
  <tr>
    <td class="<%= rowClass %>" align="center">
      <b><%= ph.num %></b>
    </td>
    <td class="<%= rowClass %>" style="padding: 6px 8px;">
      <%
        var titleColor = isLive ? 'color:rgb(35,67,3);' : isPast ? 'color:#555;' : 'color:#4a4a4a;';
        var detailColor = isLive ? 'color:#3a6e1a;' : isPast ? 'color:#777;' : 'color:#666;';
        var categories = [
          { key: 'raids', icon: '&#9876;', label: 'Raids' },
          { key: 'dungeons', icon: '&#9961;', label: 'Dungeons' },
          { key: 'pvp', icon: '&#9876;', label: 'PvP' },
          { key: 'world', icon: '&#9733;', label: 'World' },
          { key: 'other', icon: '&#8226;', label: '' }
        ];
      %>
      <b style="<%= titleColor %> font-size: 12px;"><%= ph.title %></b>
      <div style="<%= detailColor %> font-size: 11px; margin-top: 2px; line-height: 1.5;">
        <% categories.forEach(function(cat) {
          if (ph[cat.key] && ph[cat.key].length > 0) { %>
            <div><span style="font-size:10px; opacity:0.7;"><%= cat.label ? cat.label + ':' : '' %></span> <%- ph[cat.key].join(', ') %></div>
        <% }
        }); %>
      </div>
    </td>
    <td class="<%= rowClass %>" align="center">
      <% if (isLive) { %>
        <img src="<%= tp %>/images/uparrow2.gif" style="vertical-align:bottom;" height="14" width="14" alt=""/>
        <b style="color: rgb(35, 67, 3);">LIVE</b>
      <% } else if (isPast) { %>
        <b style="color:#555;">Released</b>
      <% } else if (releaseDate && relLabel) { %>
        <b style="color:#856404;"><%= relLabel %></b>
      <% } else { %>
        <span style="color:#999;">TBA</span>
      <% } %>
    </td>
    <td class="<%= rowClass %>" align="center">
      <% if (releaseDate) { %>
        <% if (isLive && relLabel) { %>
          <span style="color: rgb(35, 67, 3); font-size:11px;"><%= releaseDate %></span>
          <br/><span style="color:#555; font-size:10px;"><%= relLabel %></span>
        <% } else if (isPast && relLabel) { %>
          <span style="color:#888; font-size:11px;"><%= releaseDate %></span>
          <br/><span style="color:#999; font-size:10px;"><%= relLabel %></span>
        <% } else { %>
          <span style="color:#856404; font-size:11px;"><%= releaseDate %></span>
        <% } %>
      <% } else { %>
        <span style="color:#ccc;">-</span>
      <% } %>
    </td>
  </tr>
  <% }); %>
</tbody>
</table>
<%- include('../../partials/metalborder_footer') %>
<br/>

<% }); %>

