<%
  var tp = typeof themePath !== 'undefined' ? themePath : '/themes/wotlk';
%>
<style type="text/css">
  td.faqRow1 { border-style: solid; border-width: 0px 1px 1px 0px; border-color: #D8BF95; padding: 0; }
  td.faqRow2 { border-style: solid; border-width: 0px 1px 1px 0px; border-color: #D8BF95; background-color: #C3AD89; padding: 0; }
  td.rankingHeader { color: #C7C7C7; font-size: 10pt; font-family: arial,helvetica,sans-serif; font-weight: bold; background-color: #2E2D2B; border-style: solid; border-width: 1px; border-color: #5D5D5D #5D5D5D #1E1D1C #1E1D1C; padding: 3px;}
  .faq-question { display: block; padding: 8px 12px; cursor: pointer; font-size: 12px; font-weight: bold; color: rgb(35, 67, 3); font-family: Arial, Helvetica, sans-serif; }
  .faq-question:hover { background: rgba(208,168,3,0.12); }
  .faq-question .faq-arrow { display: inline-block; width: 14px; color: #856404; font-size: 10px; }
  .faq-answer { display: none; padding: 8px 12px 12px 26px; font-size: 12px; color: #333; font-family: Arial, Helvetica, sans-serif; line-height: 1.6; border-top: 1px dashed #D8BF95; }
  .faq-answer.open { display: block; }
</style>

<div style="padding:10px 20px 10px 20px;">
  Find answers to the most commonly asked questions about our server below.
  Click on a question to expand the answer.
</div>
<br/>

<%- include('../../partials/subheader', { subheader: 'Frequently Asked Questions' }) %>

<%- include('../../partials/metalborder_header') %>

<% if (typeof faqs !== 'undefined' && faqs && faqs.length > 0) { %>
  <table cellpadding="0" cellspacing="0" width="100%">
  <tbody>
    <tr>
      <td colspan="1" style="background: url('<%= tp %>/images/shadow.gif');">
        <img src="<%= tp %>/images/pixel.gif" height="1" width="1" alt=""/>
      </td>
    </tr>
    <% faqs.forEach(function(faq, idx) {
      var rowClass = (idx % 2 === 0) ? 'faqRow1' : 'faqRow2';
    %>
    <tr>
      <td class="<%= rowClass %>">
        <div class="faq-question" onclick="toggleFaq(<%= idx %>)">
          <span class="faq-arrow" id="faq-arrow-<%= idx %>">&#9658;</span>
          <%= faq.question %>
        </div>
        <div class="faq-answer" id="faq-answer-<%= idx %>">
          <%- faq.answer %>
        </div>
      </td>
    </tr>
    <% }); %>
  </tbody>
  </table>
<% } else { %>
  <div style="padding:30px; text-align:center; color:#666; font-size:12px;">
    No FAQ entries yet.
  </div>
<% } %>

<%- include('../../partials/metalborder_footer') %>


<script type="text/javascript">
function toggleFaq(idx) {
  var answer = document.getElementById('faq-answer-' + idx);
  var arrow = document.getElementById('faq-arrow-' + idx);
  if (answer.className.indexOf('open') !== -1) {
    answer.className = 'faq-answer';
    arrow.innerHTML = '&#9658;';
  } else {
    answer.className = 'faq-answer open';
    arrow.innerHTML = '&#9660;';
  }
}
</script>
