<%
  var tp = typeof themePath !== 'undefined' ? themePath : '/themes/wotlk';
  var realmlist = (typeof siteConfig !== 'undefined' && siteConfig.realmlist) ? siteConfig.realmlist : '127.0.0.1';
%>

<style type="text/css">
  td.htpRow1 { font-size: 0.85em; border-style: solid; border-width: 0px 1px 1px 0px; border-color: #D8BF95; padding: 8px; }
  td.htpRow2 { font-size: 0.85em; border-style: solid; border-width: 0px 1px 1px 0px; border-color: #D8BF95; background-color: #C3AD89; padding: 8px; }
  td.rankingHeader { color: #C7C7C7; font-size: 10pt; font-family: arial,helvetica,sans-serif; font-weight: bold; background-color: #2E2D2B; border-style: solid; border-width: 1px; border-color: #5D5D5D #5D5D5D #1E1D1C #1E1D1C; padding: 3px;}
  .step-num { font-size: 16px; font-weight: bold; color: rgb(35, 67, 3); }
  .step-title { font-weight: bold; color: rgb(35, 67, 3); font-size: 12px; }
  .realmlist-box { background: #1a1a1a; padding: 6px 10px; border: 1px solid #555; font-family: 'Courier New', monospace; color: #c5e6a8; margin: 4px 0; }
</style>
<br>
<%- include('../../partials/builddiv_start', { type: 0, title: 'How to Play' }) %>

<div style="padding:10px 20px;">
  Follow these steps to connect to our server and start playing.
</div>

<%- include('../../partials/subheader', { subheader: 'Getting Started' }) %>

<%- include('../../partials/metalborder_header') %>
<table cellpadding="3" cellspacing="0" width="100%">
<tbody>
  <tr>
    <td class="rankingHeader" align="center" nowrap="nowrap" width="40">#</td>
    <td class="rankingHeader" nowrap="nowrap">&nbsp;Instructions</td>
  </tr>
  <tr>
    <td colspan="2" style="background: url('<%= tp %>/images/shadow.gif');">
      <img src="<%= tp %>/images/pixel.gif" height="1" width="1" alt=""/>
    </td>
  </tr>

  <tr>
    <td class="htpRow1" align="center" valign="top"><span class="step-num">1</span></td>
    <td class="htpRow1">
      <span class="step-title">Download the Client</span><br>
      Download World of Warcraft 3.3.5a (Wrath of the Lich King) client.<br>
      You can find it via a quick web search for "WoW 3.3.5a client download".
    </td>
  </tr>

  <tr>
    <td class="htpRow2" align="center" valign="top"><span class="step-num">2</span></td>
    <td class="htpRow2">
      <span class="step-title">Create an Account</span><br>
      Register an account on our website by clicking <a href="/auth/register">Register</a>.<br>
      Remember your username and password.
    </td>
  </tr>

  <tr>
    <td class="htpRow1" align="center" valign="top"><span class="step-num">3</span></td>
    <td class="htpRow1">
      <span class="step-title">Set the Realmlist</span><br>
      Navigate to your WoW installation folder and find:<br>
      <code style="color:#555; font-weight:bold;">Data/enUS/realmlist.wtf</code> (or your locale folder).<br>
      Open it with a text editor and change it to:
      <div class="realmlist-box">set realmlist <%= realmlist %></div>
    </td>
  </tr>

  <tr>
    <td class="htpRow2" align="center" valign="top"><span class="step-num">4</span></td>
    <td class="htpRow2">
      <span class="step-title">Launch &amp; Login</span><br>
      Run <code style="color:#555; font-weight:bold;">Wow.exe</code> (not the Launcher) and log in with the account you created on our website.<br>
      Select your realm and create a character!
    </td>
  </tr>

</tbody>
</table>
<%- include('../../partials/metalborder_footer') %>

<div style="padding:10px 20px; font-size: 12px;">
  Need help? Check our <a href="/support/faq">FAQ</a> or contact an administrator in-game.
</div>

<%- include('../../partials/builddiv_end') %>
